/* ============================
   HERO (the main banner at the top)
============================ */
.hero {
  background: url('/static/images/summery.jpg') center/cover no-repeat;
  height: 70vh;
}

/* ============================
   FULL SCREEN REGISTER BACKGROUND
============================ */
.auth-bg {
  background: url('/static/images/register.jpg') center/cover no-repeat;
  min-height: 100%;
  width: 100%;
  position: relative;
}

/* ============================
   CENTERED user interactive form
============================ */
.auth-container {
  position: relative;
  z-index: 10;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Card */
.auth-card {
  max-width: 420px;
  width: 100%;
  border-radius: 15px;
}

/* ============================
   MAP STYLE
============================ */
#map {
  height: 250px;
  border-radius: 10px;
}

/* ============================
   about page p1
============================ */
.about-p1 {
  background: url('/static/images/p1.jpg') center/cover no-repeat;
  height: 250px;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

/* ============================
   about page p2
============================ */
.about-p2 {
  background: url('/static/images/p2.jpg') center/cover no-repeat;
  height: 250px;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

/* ============================
   about page p3
============================ */
.about-p3 {
  background: url('/static/images/p3.jpg') center/cover no-repeat;
  height: 250px;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}


/* ============================
   Responsive Videos
============================ */
.video-responsive {
  width: 100%;
  max-width: 520px;
  height: auto;
  border-radius: 14px;
  background: #000;
}



