{% extends "layout.html" %}
{% block title %} - Gallery{% endblock %}

{% block main %}

<!-- Hero -->
<header class="hero d-flex align-items-center justify-content-center text-center text-white"
  style="height:40vh; background:url('{{ url_for('static', filename='images/gallery-hero.jpg') }}') no-repeat center center/cover;">
  <div>
    <h1 class="display-4">Our Scouts Gallery</h1>
    <p class="lead">Photos and videos from our activities</p>
  </div>
</header>

<!-- Photos Section -->
<section class="container py-5">
  <h2 class="text-center mb-4">Photos</h2>
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='static\images\p1.jpg') }}" class="card-img-top" alt="Scout Activity">
        <div class="card-body">
          <p class="card-text text-center">حفلة نسر وراعي</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='static\images\p2.jpg') }}" class="card-img-top" alt="Scout Activity">
        <div class="card-body">
          <p class="card-text text-center">صورة مع مثلث الرحمات الانبا باخوميوس</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='static\images\p3.jpg') }}" class="card-img-top" alt="Scout Activity">
        <div class="card-body">
          <p class="card-text text-center">حفلة الوعد</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Videos Section -->
<section class="container py-5">
  <h2 class="text-center mb-4">Videos</h2>
  <div class="row">

    <div class="col-md-6 mb-4">
      <video class="w-100 rounded" controls>
        <source src="{{ url_for('static', filename='static\images\video_1.mp4') }}" type="video/mp4">
      </video>
    </div>

    <div class="col-md-6 mb-4">
      <video class="w-100 rounded" controls>
        <source src="{{ url_for('static', filename='static\images\video_2.mp4') }}" type="video/mp4">
    </div>

  </div>
</section>

{% endblock %}
