{% extends "layout.html" %}
{% block title %} - Users Map{% endblock %}

{% block main %}

<!-- Leaflet -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<h2 class="text-center mb-3">All Scouts Locations</h2>

<div id="map" style="height: 80vh; border-radius: 12px;"></div>

<script>
  // Initialize map (temporary center)
  const map = L.map('map').setView([26.8206, 30.8025], 10);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19
  }).addTo(map);

  // Locations from Flask
  const locations = {{ locations | tojson }};

  const bounds = [];

  if (locations.length === 0) {
    alert("No locations available yet.");
  }

  locations.forEach(loc => {
    const marker = L.marker([loc.latitude, loc.longitude])
      .addTo(map)
      .bindPopup(`
        <strong>${loc.name}</strong><br>
        Sector: ${loc.sector}
      `);

    bounds.push([loc.latitude, loc.longitude]);
  });

  // Auto-zoom to show all markers
  //if (bounds.length > 0) {
    //map.fitBounds(bounds, { padding: [50, 50] });
  //}
</script>

{% endblock %}
