{% extends "layout.html" %}
{% block title %} - Register{% endblock %}
{% block main %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<div class="auth-bg">
  <div class="auth-container">

    <div class="card shadow-lg p-4 auth-card bg-white">

      <!-- Tabs -->
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login">Login</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#signup">Sign Up</button>
        </li>
      </ul>

      <div class="tab-content">

        <!-- LOGIN TAB -->
        <div class="tab-pane fade show active" id="login">
          <form action="/login" method="POST">
            <div class="mb-3">
              <label>Email or Username</label>
              <input type="text" class="form-control" name="user" required>
            </div>
            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button class="btn btn-primary w-100">Login</button>
          </form>
        </div>

        <!-- SIGNUP TAB -->
        <div class="tab-pane fade" id="signup">
          <form action="/register" method="POST">

            <div class="mb-3">
              <label>Full Name</label>
              <input type="text" class="form-control" name="username" required>
            </div>

            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>

            <div class="mb-3">
              <label>Confirm Password</label>
              <input type="password" class="form-control" name="confirmation" required>
            </div>

            <div class="mb-3">
              <label>Birthday</label>
              <input type="date" class="form-control" name="birthday" required>
            </div>

            <div class="mb-3">
              <label>Phone Number</label>
              <input type="text" class="form-control" name="phone"
                 placeholder="+20**********"
                 pattern="\+20[0-9]{10}"
                 value="+20"
                 onkeydown="if(event.key !== 'Backspace' && !this.value.startsWith('+20')) this.value='+20';"
                 required>
            </div>

            <div class="mb-3">
              <label>Educational Stage</label>
              <select class="form-select" name="stage" required>
                <option disabled selected>Select your stage</option>
                <option value="primary">ابتدائي</option>
                <option value="middle">اعدادي</option>
                <option value="high">ثانوي</option>
                <option value="older">كليات أو أكبر</option>
              </select>
            </div>

            <div class="mb-3">
              <label>Home Location (Click on map)</label>
              <div id="map"></div>
            </div>

            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lng" name="lng">

            <button class="btn btn-success w-100">Create Account</button>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
<script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>

<script>
  var map = L.map('map').setView([30.0444, 31.2357], 6);

  //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  let marker;

  // Auto detect location
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function (pos) {
        const lat = pos.coords.latitude;
        const lng = pos.coords.longitude;

        map.setView([lat, lng], 16);

        marker = L.marker([lat, lng]).addTo(map);

        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;
      }
    );
  }

  // User clicks to change location
  map.on("click", function (e) {
    if (marker) {
      marker.setLatLng(e.latlng);
    } else {
      marker = L.marker(e.latlng).addTo(map);
    }

    document.getElementById("lat").value = e.latlng.lat;
    document.getElementById("lng").value = e.latlng.lng;
  });
</script>



{% endblock %}
